<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Mini Message Board</h1>
    <a href="/new">Post New Message</a>
    <div>
        <% for (let i = 0; i < messages.length; i++) { %>
            <div class="msg-box">
                <span class="user"><%= messages[i].user %>:</span> <%= messages[i].text %><br>
                <span class="date"><%= messages[i].added %></span><br>
                <a href="/new/message/<%= messages[i].id %>">Open</a>
            </div>
    <%}%>
    </div>
</body>
</html>